/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Declare font */

@font-face {
  font-family: Inter-Regular;
  src: url(../fonts/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../fonts/Inter/static/Inter_18pt-Bold.ttf);
}

/* Declare Keyframe */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes menuAnimation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Declare color */

:root {
  --primary-color: #ffffff;
  --secondary-color: #dbdbdb;
  --third-color: #d9d9d9;
  --fourth-color: #63cbea;
  --fifth-color: #000000;
}

/* common */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter-Regular, sans-serif;
  margin: auto;
  color: var(--fifth-color);
}
a:not(footer a) {
  font-family: Inter-Regular, sans-serif;
  color: var(--fifth-color) !important;
}

button:not(.modal button, button.navbar-toggler) {
  font-family: Inter-Regular, sans-serif;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: var(--fifth-color);
  background-color: var(--primary-color);
}

button:hover:not(.modal button) {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.pointer-event {
  pointer-events: all !important;
}

body.modal-open {
  overflow: auto !important;
}

.modal.fade .modal-dialog.slide-down {
  animation: slideDown 0.4s ease-out;
}

.modal.fade .modal-dialog.modal-slide {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.4s ease;
}

.modal.fade.show .modal-dialog.modal-slide {
  transform: translateY(0);
  opacity: 1;
}

/* Header */

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dummy-padding {
  padding-bottom: 107px;
}

.fixed-top {
  position: fixed;
  opacity: 0.8;
  top: 0px;
  animation: 2s menuAnimation;
  background-color: var(--third-color);
}
.menu-toggle {
  display: none;
  font-size: 40px;
  margin-right: 20px;
  cursor: pointer;
  color: var(--fifth-color);
}

img[alt="logo"] {
  margin-right: 10px;
}

#menuCollapse {
  box-sizing: border-box;
}

.navbar .container {
  max-width: inherit;
}

.navbar .nav-link {
  transition: all 0.5s ease;
  margin-right: 1.5rem;
}

.navbar .nav-link:hover {
  transform: translate(5px, -5px);
  color: var(--secondary-color);
  border-bottom: 2px solid var(--fifth-color);
}
.navbar .navbar-collapse {
  transition: all 0.5s ease;
  transform: translateY(-10%);
}
.navbar .navbar-collapse.show {
  opacity: 0.95;
  transform: translateY(0);
}

/* Main */

.hero {
  display: flex;
  background: url("../images/Banner.png") no-repeat center center/cover;
  height: 500px;
  color: var(--fifth-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  margin-bottom: 3rem;
  font-family: Inter-Bold, sans-serif;
}

.hero .overlay {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.hero .overlay .form-inline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero .overlay input[type="date"] {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.hero .overlay .form-inline a {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  text-decoration: none;
  color: var(--fifth-color);
}

.room-section {
  background-color: #e0e1d1;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.room-section .card {
  margin-bottom: 30px;
}

.facilities-section {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}
.blog-section {
  background-color: #fcfdd7;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.facilities i {
  font-size: 2rem;
}

.rotating-content {
  display: none;
}

.rotating-content.active {
  display: block;
}
.icon-transition {
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-bounce {
  animation: bounce 0.5s infinite;
}

/* Footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

footer .back-to-top {
  opacity: 0;
  line-height: 44px;
  width: 44px;
  background-color: var(--fifth-color);
  color: var(--primary-color);
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 40px;
  transition: all 0.5s ease;
  pointer-events: none;
}

/*For mobile*/
@media screen and (max-width: 990px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    opacity: 0;
  }
  .navbar .nav-link:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color) !important;
  }
}
